<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> Contact:</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          <a href="/contact">Map of our guesthouse</a>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-phone"></i> Phone:</h3>
        <p class="footer-contact">
          Phone #: {{ site.telephone_number1 }} <br>
          Phone #: {{ site.telephone_number2 }} <br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-envelope"></i> Email:</h3>
        <p class="footer-contact">
        <a href="/contact">Fill out our contact form.</a><br>
          Email: {{ site.company_email }}<br>
        </p>
      </div>    
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="#">Your Website Link</a>.</p>
  </div>
</footer>


