<!-- Begin #services-section -->
<section id="services" class="services-section section-global-wrapper">
    <div class="container">
        <div class="row">
            <div class="services-header">
                <h3 class="services-header-title">Our Mission</h3>
                <p class="services-header-body"><em>Things we provide in Office</em></p><hr>
            </div>
        </div>
  
        <!-- Begin Services Row 1 -->
        <div class="row services-row services-row-head services-row-1">
        {% for our in site.data.our-services %}
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                    <p class="services-icon">{{ our.fa }}</p>
                    <h4 class="services-title">{{ our.title }}</h4>
                    <p class="services-body">{{ our.body }}</p>
                    <p class="services-more"><a href="{{ our.link }}">Find Out More</a></p>
                </div>
            </div>
            {{ our.break }}
        {% endfor %}
        </div>

    </div>      
</section>
<!-- End #services-section -->
